




<main class="main">
    <div class="cover-home3">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="text-center mt-50 pb-50">
                        <h2 class="color-linear d-inline-block">Tekrar Hoş geldiniz</h2>
                    </div>
                    <div class="box-form-login pb-50">
                        <div class="form-login bg-gray-850 border-gray-800 text-start">
                            <form action="/Account/login" method="post" class="user">
                                <div class="form-group">
                                    <input class="form-control bg-gray-850 border-gray-800" type="email" placeholder="Mail adresinizi giriniz" name="email" required>
                                </div>
                                <div class="form-group position-relative">
                                    <input class="form-control bg-gray-850 border-gray-800 password" type="password" placeholder="Şifre" name="password" required>
                                    <span class="viewpass"></span>
                                </div>
                              
                                <div class="form-group">
                                    <input class="btn btn-linear color-gray-850 hover-up" type="submit" value="Giriş Yap">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


