﻿@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
@model List<Contact>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Iletisimler </h1>

</div>
<!-- Basic Card Example -->
@foreach (var item in Model) {
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@item.Name - @item.Email - @item.CreatedAt</h6>
    </div>
    <div class="card-body">
        @item.Message
    </div>
</div>}